<section class="guide" ngsRevealSet [ngsSelector]="'.item2'">
  <div id="cost" class="cost item2">
    <h1>Trinity Price</h1>
    <h2>
      <strong>비용안내</strong>
    </h2>
    <table class="table">
      <caption>
        <span class="tit">기본금액</span>
        <small>
          <span class="point">* 색상금액</span>은 예정일로부터 7개월전 예약시 금액입니다. 상담시 당일예약: 10만원 할인</small>
      </caption>
      <colgroup *ngIf="!is_ss">
        <col width="14%">
        <col width="23%">
        <col width="23%">
        <col width="23%">
      </colgroup>
      <colgroup *ngIf="is_ss">
        <col width="14%">
        <col width="21.5%">
        <col width="21.5%">
        <col width="21.5%">
        <col width="21.5%">
      </colgroup>
      <thead>
        <tr>
          <th class="gradient">(단위만원)</th>
          <th>{{ dr1name }}
            <br/>
            <strong>{{ dr1cost }}</strong>
          </th>
          <th>{{ dr2name }}
            <br/>
            <strong>{{ dr2cost }}</strong>
          </th>
          <th class="gradient">{{ dr3name }}
            <br/>
            <strong>{{ dr3cost }}</strong>
          </th>
          <th class="gradient" *ngIf="is_ss">{{ dr4name }}
            <br/>
            <strong>{{ dr4cost }}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="service">
          <th>연계서비스
            <span>(2주기준)</span>
          </th>
          <td>
            <span class="mb">산전케어 :<br/> 2회(60분)</span>
            <span class="mb">산후케어 :<br/> 1회(60분)</span>
            <span class="mb">산후1회 +<br/> 두피케어(60분)</span>
            <span>남편식사 : {{ fatherFood1 }}회<br/>(미리신청시)</span>
          </td>
          <td>
            <span class="mb">산전케어 :<br/> 2회(60분)</span>
            <span class="mb">산후케어 :<br/> 2회(60분)</span>
            <span>남편식사 : {{ fatherFood2 }}회<br/>(미리신청시)</span>
          </td>
          <td>
            <span class="mb">산전케어 :<br/> 2회(60분)</span>
            <span class="mb">산후케어 :<br/> 2회(60분)</span>
            <span>남편식사 : {{ fatherFood3 }}회<br/>(미리신청시)</span>
          </td>
          <td *ngIf="is_ss">
            <span class="mb">산전케어 :
              <br/> 2회(60분)</span>
            <span class="mb">산후케어 :
              <br/> 2회(60분)</span>
            <span>남편식사 : {{ fatherFood4 }}회
              <br/>(미리신청시)</span>
          </td>
        </tr>
        <tr>
          <th>1주</th>
          <td>{{ dr1 / 14 * 7 + 10 }}
            <span class="dc">{{ (dr1 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td>{{ dr2 / 14 * 7 + 10 }}
            <span class="dc">{{ (dr2 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td>{{ dr3 / 14 * 7 + 10 }}
            <span class="dc">{{ (dr3 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ dr4 / 14 * 7 + 10 }}
            <span class="dc">{{ (dr4 / 14 * 7 + 10) * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>10일</th>
          <td>{{ dr1 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (dr1 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td>{{ dr2 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (dr2 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td>{{ dr3 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (dr3 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ dr4 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (dr4 / 14 * 10 + 15) * dc | round }}</span>
          </td>
        </tr>
        <tr class="week2">
          <th>2주</th>
          <td>{{ dr1 }}
            <span class="dc">{{ dr1 * dc | round }}</span>
          </td>
          <td>{{ dr2 }}
            <span class="dc">{{ dr2 * dc | round }}</span>
          </td>
          <td>{{ dr3 }}
            <span class="dc">{{ dr3 * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ dr4 }}
            <span class="dc">{{ dr4 * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>3주</th>
          <td>{{ dr1 * 1.5 }}
            <span class="dc">{{ (dr1 * 1.5) * dc | round }}</span>
          </td>
          <td>{{ dr2 * 1.5 }}
            <span class="dc">{{ (dr2 * 1.5) * dc | round }}</span>
          </td>
          <td>{{ dr3 * 1.5 }}
            <span class="dc">{{ (dr3 * 1.5) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ dr4 * 1.5 }}
            <span class="dc">{{ (dr4 * 1.5) * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>4주</th>
          <td>{{ dr1 * 2 }}
            <span class="dc">{{ (dr1 * 2) * dc | round }}</span>
          </td>
          <td>{{ dr2 * 2 }}
            <span class="dc">{{ (dr2 * 2) * dc | round }}</span>
          </td>
          <td>{{ dr3 * 2 }}
            <span class="dc">{{ (dr3 * 2) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ dr4 * 2 }}
            <span class="dc">{{ (dr4 * 2) * dc | round }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table inc-care">
      <caption>
        <span class="tit">바디케어 포함금액</span>
        <small>
          <span class="point">* 색상금액</span>은 예정일로부터 7개월전 예약시 금액입니다. 상담시 당일예약: 10만원 할인</small>
      </caption>
      <colgroup *ngIf="!is_ss">
        <col width="14%">
        <col width="23%">
        <col width="23%">
        <col width="23%">
      </colgroup>
      <colgroup *ngIf="is_ss">
        <col width="14%">
        <col width="21.5%">
        <col width="21.5%">
        <col width="21.5%">
        <col width="21.5%">
      </colgroup>
      <thead>
        <tr>
          <th class="gradient">(단위만원)</th>
          <th>{{ dr1name }}
            <br/>
            <strong>{{ bcr1cost }}</strong>
            <br/>(바디케어 포함 금액)</th>
          <th>{{ dr2name }}
            <br/>
            <strong>{{ bcr2cost }}</strong>
            <br/>(바디케어 포함 금액)</th>
          <th class="gradient">{{ dr3name }}
            <br/>
            <strong>{{ bcr3cost }}</strong>
            <br/>(바디케어 포함 금액)</th>
          <th class="gradient" *ngIf="is_ss">{{ dr4name }}
            <br/>
            <strong>{{ bcr4cost }}</strong>
            <br/>(바디케어 포함 금액)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="service">
          <th>연계서비스(2주기준)</th>
          <td>
            <span class="mb">바디케어 :<br/> {{ bdcare1 }}회</span>
            <span>남편식사 : {{ fatherFood1 }}회<br/>(미리 신청시)</span>
          </td>
          <td>
            <span  class="mb">바디케어 :<br/> {{ bdcare2 }}회</span>
            <span>남편식사 : {{ fatherFood2 }}회<br/>(미리 신청시)</span>
          </td>
          <td>
            <span  class="mb">바디케어 :<br/> {{ bdcare3 }}회</span>
            <span>남편식사 : {{ fatherFood3 }}회<br/>(미리 신청시)</span>
          </td>
          <td *ngIf="is_ss">
            <span class="mb">바디케어 :
              <br/> {{ bdcare4 }}회</span>
            <span>남편식사 : {{ fatherFood4 }}회
              <br/>(미리 신청시)</span>
          </td>
        </tr>
        <tr>
          <th>1주</th>
          <td>{{ bcr1 / 14 * 7 + 10 }}
            <span class="dc">{{ (bcr1 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td>{{ bcr2 / 14 * 7 + 10 }}
            <span class="dc">{{ (bcr2 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td>{{ bcr3 / 14 * 7 + 10 | round }}
            <span class="dc">{{ (bcr3 / 14 * 7 + 10) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ bcr4 / 14 * 7 + 10 | round }}
            <span class="dc">{{ (bcr4 / 14 * 7 + 10) * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>10일</th>
          <td>{{ bcr1 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (bcr1 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td>{{ bcr2 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (bcr2 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td>{{ bcr3 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (bcr3 / 14 * 10 + 15) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ bcr4 / 14 * 10 + 15 | round }}
            <span class="dc">{{ (bcr4 / 14 * 10 + 15) * dc | round }}</span>
          </td>
        </tr>
        <tr class="week2">
          <th>2주</th>
          <td>{{ bcr1 }}
            <span class="dc">{{ bcr1 * dc | round }}</span>
          </td>
          <td>{{ bcr2 }}
            <span class="dc">{{ bcr2 * dc | round }}</span>
          </td>
          <td>{{ bcr3 }}
            <span class="dc">{{ bcr3 * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ bcr4 }}
            <span class="dc">{{ bcr4 * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>3주</th>
          <td>{{ bcr1 * 1.5 }}
            <span class="dc">{{ (bcr1 * 1.5) * dc | round }}</span>
          </td>
          <td>{{ bcr2 * 1.5 }}
            <span class="dc">{{ (bcr2 * 1.5) * dc | round }}</span>
          </td>
          <td>{{ bcr3 * 1.5 | round }}
            <span class="dc">{{ (bcr3 * 1.5) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ bcr4 * 1.5 | round }}
            <span class="dc">{{ (bcr4 * 1.5) * dc | round }}</span>
          </td>
        </tr>
        <tr>
          <th>4주</th>
          <td>{{ bcr1 * 2 }}
            <span class="dc">{{ (bcr1 * 2) * dc | round }}</span>
          </td>
          <td>{{ bcr2 * 2 }}
            <span class="dc">{{ (bcr2 * 2) * dc | round }}</span>
          </td>
          <td>{{ bcr3 * 2 }}
            <span class="dc">{{ (bcr3 * 2) * dc | round }}</span>
          </td>
          <td *ngIf="is_ss">{{ bcr4 * 2 }}
            <span class="dc">{{ (bcr4 * 2) * dc | round }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <p>* Twin 2주 140만원, 3주 210만원 추가비용</p>
  </div>
</section>