<div class="online-consult--wrap" ngsRevealSet [ngsSelector]="'.item2'">
<!-- <h4>상담내용</h4> -->
<table class="table table-striped table-hover item2">
  <thead>
    <tr>
      <th>{{ _data.detail.CC_SUBJECT }}</th>
    </tr>
    <tr>
      <td>작성자: {{ _data.detail.CC_AUTHOR }}  <span>{{ _data.detail.CC_REQ_DATE }}</span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <hr>
        {{ _data.detail.CC_CONTENT }}
      </td>
    </tr>
    <tr>
      <td *ngIf="!_data.detail.CC_REPLY_STATE" class="reply-cont">
        아직 답변이 없습니다.
      </td>
      <td *ngIf="_data.detail.CC_REPLY_STATE" class="reply-cont">
        {{ _data.detail.CC_REPLY_CONTENT }}
      </td>
    </tr>
  </tbody>
</table>
<!-- <div class="reply--wrap">
  <textarea name="" id="" #replyCont></textarea>
  <a class="btn" (click)="registReply(replyCont.value)">답변등록</a>
</div> -->
<ul class="btn--wrap item2">
  <li class="goList"><a routerLink="/onlineConsult">목록</a></li>
  <!-- <li class="goModify"><a routerLink="/modifyConsult/{{_data.detail.CC_SEQ}}">수정</a></li> -->
  <li class="goModify"><a (click)="pwCheck()">수정</a></li>
  <li class="goDelete"><a (click)="deleteConsult()">삭제</a></li>
</ul>
</div>