@import './src/assets/css/module/all';

.main-greet {
    .greet-content {
        padding: 2rem;
        text-align: center;
    }
    h2 {
        font-size: 1.4rem;
        color: color(h2);
    }
    small {
        display: block;
        color: color(h2-small);
        &.sub {
            font-size: 0.9rem;
            padding-bottom: 0.2rem;
        }
        &.sup {
            font-size: 0.9rem;
            margin-bottom: 2rem;
            padding-top: 0.2rem;
        }
    }
    p {
        font-size: 0.9rem;
    }
    img {
        margin-top: 1rem;
    }
    
}