<section id="main-greet" class="main-greet">
  <div class="greet-content" ngsRevealSet [ngsSelector]="'.item3'">
    <h2 class="item3">
      <small class="sub">Welcome to trinity</small>
      <strong>TRINITY GREET</strong>
      <small class="sup">산모와 아기를 위한 '트리니티'</small>
    </h2>
    <p class="item3">Trinity Care System은 소중한 시간을 더욱 빛나게 해드릴것입니다.</p>
    <p class="item3">신생아 전담 간호사, 산모케어, 테라피스트가 한팀이 되어 산모와 아기에게 가장 효과적인 산후조리 서비스를 제공합니다.</p>
    <!-- 청담 : 시작 -->
    <img [src]="greet" alt="인사말이미지" class="item3">
    <!-- 청담 : 끝 -->
    <!-- 삼성 : 시작 -->
    <!-- <img [src]="greetSS" alt="인사말이미지" class="item3"> -->
    <!-- 삼성 : 끝 -->
  </div>
</section>