<section id="main-partner" class="main-partner" ngsRevealSet [ngsSelector]="'.item7'">
  <h2 class="item7">
    <small class="sub">Trinity care system</small>
    <strong>Partners</strong>
  </h2>
  <ul class="item7">
    <li><a href="http://www.mothernbaby.co.kr/" target="_blank">
      <img [src]="partner4" alt="협력사 로고">
    </a></li>
    <li><a href="http://www.paulsbaby.com/" target="_blank">
      <img [src]="partner7" alt="협력사 로고">
    </a></li>
    <li>
      <a href="http://www.yeonnnature.com/" target="_blank">
        <img [src]="partner8" alt="협력사 로고">
      </a>
    </li>
    <li><a href="{{ milk }}" target="_blank">
      <img [src]="partner1" alt="협력사 로고">
    </a></li>
    <li><a href="http://lohasbebe1.cafe24.com/" target="_blank">
      <img [src]="partner2" alt="협력사 로고">
    </a></li>
    <!-- <li><a href="http://www.babiz.co.kr/brand/mothersbaby/" target="_blank">
      <img [src]="partner3" alt="협력사 로고">
    </a></li> -->
    <li><a href="http://www.medela.co.kr/" target="_blank">
      <img [src]="partner5" alt="협력사 로고">
    </a></li>
    <li><a href="https://www.sshabav.co.kr/" target="_blank">
      <img [src]="partner6" alt="소이바이오 로고">
    </a></li>
  </ul>
</section>