@import './src/assets/css/module/all';

.service {
    padding: 2rem 0 0;
}
h1,h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
}
h1 {
    color: color(h1);
    font-weight: bold;
}
h2 {
    font-size: 1.4rem;
    color: color(h2);
    .sup {
        display: block;
        font-size: 0.9rem;
        color: color(h2-small);
        padding-top: 0.2rem;
    }
}
.infant-care, .medi-support {
    padding: 2rem;
}
ul {
    margin-top: 2rem;
}
li {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    @extend %clearfix;
    img {
        display: block;
        float: left;
        height: 30px;
        vertical-align: top;
        margin-top: -2px;
    }
    span {
        float: left;
        display: block;
        width: 85%;
        padding-left: 0.6rem;
        font-weight: 400;
    }
}
.mother-care, .food-therapy {
    background: #fdf2f1;
    padding: 2rem;
}
.tit-img {
    display: block;
    margin: 0 auto;
}