<section id="main-expert" class="main-expert" ngsRevealSet [ngsSelector]="'.item6'">
  <h2 class="item6">
    <strong>Expert</strong>
    <small class="sup">함께하는 전문가</small>
  </h2>
  <div class="content">
    <swiper [config]="config" class="feature-list feature6">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="profile--wrap">
            <img [src]="profile1" alt="트리니티 전문가 프로필">
            <!-- <img src="http://via.placeholder.com/400x400" alt=""> -->
            <h4>
              최남선
              <small>대표원장</small>
            </h4>
            <ul class="brief">
              <li>아이통곡 엘비산후조리원 운영원장</li>
              <li>한방산후조리원 궁 상암본점 원장</li>
              <li>강동 동그라미 산후조리원 대표원장</li>
              <li>강동 여울소 산후조리원 원장</li>
              <li>송파푸른잎 산후조리원 부원장</li>
              <li>한국 산후조리원협회 강동 지부장 역임</li>
              <li>이제하늘빛 산후조리원 수간호사</li>
              <li>간호사면허 취득</li>
              <li>SMC 모유수유 자격증 취득</li>
              <li>국제 모유수유 과정이수</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="profile--wrap">
            <img [src]="profile2" alt="트리니티 전문가 프로필">
            <!-- <img src="http://via.placeholder.com/400x400" alt=""> -->
            <h4>
              박은영
              <small>원장</small>
            </h4>
            <ul class="brief">
              <li>아이통곡 모유 육아 상담실 원장</li>
              <li>맘밀크 산후도우미 지점장</li>
              <li>인제대학교 서울백병원 간호사</li>
              <li>간호사면허 취득</li>
              <li>인하대학교 대학교 박사과정</li>
              <!-- <li>인제대학교 대학원 석사</li> -->
              <li>국제모유수유 전문가</li>
              <li>일본 스와병원 유방관리학 연수</li>
              <li>아이통곡 아카데미 무통 유방관리 전문가 과정 이수</li>
              <li>강남구 보건소 외 다수 모유수유 교육</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="profile--wrap">
            <img [src]="profile3" alt="트리니티 전문가 프로필">
            <!-- <img src="http://via.placeholder.com/400x400" alt=""> -->
            <h4>
              한우기
              <small>실장</small>
            </h4>
            <ul class="brief">
              <li>국내 최연소 산후 조리원 경영</li>
              <li>퀸스맘 산후조리원 원장 (국내최연소원장)</li>
              <li>간호사면허취득</li>
              <li>국제모유수유전문가 이수</li>
              <li>연대세브란스 소아간호관리과정 이수</li>
              <li>BLS provider</li>
              <li>서울 성애병원 정형외과 병동 근무</li>
              <li>서울 성애병원 소아과 VIP 병동 근무</li>
              <li>청담 트리니티 산후조리원 실장</li>
              <li>D-line party 모유수유 강사</li>
              <li>성폭력 전문상담가</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="profile--wrap">
            <img [src]="profile4" alt="트리니티 전문가 프로필">
            <!-- <img src="http://via.placeholder.com/400x400" alt=""> -->
            <h4>
              최선옥
              <small>실장</small>
            </h4>
            <ul class="brief">
              <li>이인우 산후조리원 신생아실 근무</li>
              <li>이인우 산후조리원 대표원장</li>
              <li>하이맘 산후조리원 대표원장</li>
              <li>동그라미 산후조리원 부원장</li>
              <li>트리니티 조리원 청담점 실장</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-pagination profile"></div>
    </swiper>
  </div>
</section>