<!-- <div class="btn--wrap">
  <a href="kakaoplus://plusfriend/home/@트리니티-청담점" target="_blank" class="kakao-consult" *ngIf="centerLocation == 'cd'">카카오톡 상담</a>
  <a href="kakaoplus://plusfriend/home/@트리니티-삼성점" target="_blank" class="kakao-consult" *ngIf="centerLocation == 'ss'">카카오톡 상담</a>
  <a href="tel:02-541-5617" class="tel-consult" *ngIf="centerLocation == 'cd'">전화상담</a>
  <a href="tel:02-508-0013" class="tel-consult" *ngIf="centerLocation == 'ss'">전화상담</a>
</div> -->
<div class="online-consult--wrap" ngsRevealSet [ngsSelector]="'.item2'">
<h4 class="item2">온라인상담<small>궁금한 점을 남겨주시면 신속히 답변드리겠습니다.</small></h4>
<table class="table table-striped table-hover item2">
  <colgroup>
    <col width="85%">
    <col width="15%">
  </colgroup>
  <thead>
    <th>제목</th>
    <th>답변</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of _data.list">
      <td *ngIf="item.CC_PAGE_LOCK == 1" (click)="pwCheck(item)">{{ item.CC_SUBJECT }}
        <span>
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </td>
      <td *ngIf="item.CC_PAGE_LOCK == 0" routerLink="/detailConsult/{{item.CC_SEQ}}">{{ item.CC_SUBJECT }}
        <span>
          <i class="fa fa-unlock" aria-hidden="true"></i>
        </span>
      </td>
      <td class="reply_state" *ngIf="item.CC_REPLY_STATE == '1'"><span class="tag--success">완료</span></td>
      <td class="reply_state" *ngIf="item.CC_REPLY_STATE == '0'"><span class="tag--wait">대기</span></td>
    </tr>
  </tbody>
</table>

<!-- 검색기능 -->
<!-- <form>
  <div class="form-group">
    <input type="search" #keyword [(ngModel)]="_data.keyword" name="search"><a (click)="callPage(keyword.value)" class="btn btn-default">검색</a>
  </div>
</form> -->

<ul class="pagination item2">
  <li><a (click)="prevPage()">이전</a></li>
  <li><span>{{ nowPage }}</span> / {{ pageCnt }}</li>
  <li><a (click)="nextPage()">다음</a></li>
</ul>

<a routerLink="/requestConsult" class="btn btn-default item2">상담신청</a>
</div>