<section class="center" ngsRevealSet [ngsSelector]="'.item2'">
  <h1 class="item2">Trinity Center</h1>
  <div class="mother-room-1 item2" id="room">
    <h2>
      <strong>산모실 I</strong>
      <small class="sup">마음의 수고를 덜어주는 엄마의 공간</small>
    </h2>
    <p class="sub-tit">산모님의 몸과 함께 마음의 수고를</p>
    <p class="sub-tit">덜어드리는 쉼 있는 공간입니다.</p>
    <img [src]="center1" alt="산모실1" class="tit-img">
    <ul>
      <li>- {{ motherRoomItem1 }}</li>
      <li>- 최신 프리미엄 호텔 수준의 미니멀한 인테리어</li>
      <li>- 메델라 유축기</li>
      <li>- {{ motherRoomItem4 }}</li>
      <li>- {{ motherRoomItem5 }}</li>
    </ul>
  </div>
  <div class="mother-room-2 item2">
    <h2>
      <strong>산모실 II</strong>
    </h2>
    <p class="sub-tit">아기와 함께 있는 시간을 위한</p>
    <p class="sub-tit">프리미엄 서비스</p>
    <img [src]="center2" alt="산모실2" class="tit-img">
    <p class="explain">하루 2번의 모자동실 시간,<br/>산모님들의 해피 육아를 위해 최고급 포맘스 스마트 바운서를 산모실에 비치해 놓았습니다.<br/> 엄마의 태중에 있던 흔들림 그대로 아기는 더욱 편안해집니다.</p>
  </div>
  <div class="spa item2" id="spa">
    <h2>
      <strong>라 스파 프리미엄</strong>
      <small class="sup">La spa Premium</small>
    </h2>
    <p class="sub-tit">개인체형 맞춤케어로 눈에 띄는</p>
    <p class="sub-tit">체형변화와 건강한 여성미를 발견하세요!</p>
    <img [src]="center3" alt="라스파 프리미엄" class="tit-img">
    <p class="explain">호텔 고급 스파를 그대로! 라스파만의 바디케어는 산후 회복을 돕는 동시에 아름다운 바디라인을 만들어 드립니다. CIVASAN, 쟌피오베르 임산부 전용 스파제품을 사용하여 1:1 컨설팅을 통하여 맞춤 케어를 합니다. 산모전문 테라피테크닉을 이수한 전문 테라피스트가 관리하며 테라피전문가가 직접 설계하는 개인별 맞춤 처방프로그램을 제공합니다. 숙련된 산전테라피, 산후테라피 전문가의 노련하고 섬세한 손길과 철저한 고객관리 서비스로 최선을 다하겠습니다.</p>
  </div>
  <div class="infant-room item2" id="infant-room">
    <h2>
      <strong>신생아실</strong>
      <small class="sup">한 눈에 다 보이는 신생아실</small>
    </h2>
    <p></p>
    <p></p>
    <img [src]="center4" alt="신생아실" class="tit-img">
    <ul>
      <li>- 신생아 베드마다 유리 파티션을 설치하여 교차감염경로 차단</li>
      <li>- 신생아실 정기소독 및 관리, 급배기 환기 시스템</li>
      <li>- {{ infantroomExplain }}</li>
      <li>- 1:1 신생아 IP캠으로 5명(조부모, 부모, 형제 등)이 동시에 아기를 24시간 관찰</li>
    </ul>
  </div>
   <div class="breast-feeding item2"  id="loctaion">
    <h2>
      <strong>모유수유실</strong>
      <small class="sup">Breast Feeding Care</small>
    </h2>
    <img [src]="center5" alt="모유수유실" class="tit-img">
    <ul>
      <li>- 국제모유수유전문가의 체계적인 모유수유 코칭</li>
      <li>- 전문적인 유방 관리</li>
      <li>- 배우는 산후조리원(원장님이 직접 교육) : <br/>모유수유, 신생아 건강 관리, 우는 아기 달래기, 베이비 맛사지 등 유축기 사용</li>
    </ul>
   </div>
</section>