@import './src/assets/css/module/all';

.popup {
    position: fixed;
    width: 80%;
    // height: 300px;
    top: 20%;
    // margin-top: -150px;
    // top: 0;

    left: 10%;
    z-index: 1100;
    // background: url("/assets/img/workingmom.jpg") no-repeat 0 center;
    // background-size: cover;
    // background-blend-mode: overlay;
    // background-color: rgba($color: #fff, $alpha: .6);
    overflow-x: hidden;
    @extend %z-depth-3;
    @include borderRadius(10px);
    .content {
        min-height: calc(300px - 40px);
        padding: 2rem;
        color: #000000;
    }
    .close-popup {
        height: 40px;
        line-height: 40px;
        border: 0;
    }
    img {
        width: 100%;
        margin: 0 auto;
    }
}