@import './src/assets/css/module/all';


.main-slide {
    outline: 1px solid #fff;
    outline-offset: -10px;
    min-height: $sec_height;
    position: relative;
    color: #fff;
    font-weight: 100;
    background: url("/assets/img/lobby1.jpg") no-repeat 0 center;
    // background: url("/assets/img/lobby_ss.jpg") no-repeat 0 center;
    background-size: cover;
    animation: bgScale 10s;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: .6);
}
@keyframes bgScale {
    0% {
        background-position-x: right;
    }
    100% {
        background-position-x: 0;
    }
}
.top-block {
    text-align: left;
    position: absolute;
    top: 25px;
    left: 25px;
    padding-top: 1rem;
    line-height: 20px;
    p {
        letter-spacing: 1px;
    }
}
.mid-block {
    text-align: left;
    position: absolute;
    left: 25px;
    top: 50%;
    margin-top: -75px;
    height: 150px;
    line-height: 28px;
    strong {
        font-size: 1.6rem;
        &.eng {
            font-size: 1.6rem;
        }
    }
    p {
        padding-bottom: 0.3rem;
    }
}
.bot-block {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding-bottom: 1rem;
    line-height: 20px;
    p {
        letter-spacing: 1px;
    }
    strong {
        font-weight: 400;
    }
}