<section class="main-slide" ngsRevealSet [ngsSelector]="'.item1'">
  <div class="top-block item1">
    <p>일생에서 가장</p>
    <p>고귀하고 아름다운 시간</p>
  </div>
  <div class="mid-block item1">
    <p><strong>임신 출산</strong></p>
    <p><strong>그리고</strong></p>
    <p><strong class="eng">Trinity</strong></p>
    <p><strong class="eng">{{ centerLocation }}</strong></p>
    <p>산후조리원</p>
  </div>
  <div class="bot-block item1">
    <p>오직 <strong>'엄마와 아기'</strong>의</p>
    <p>회복과 건강을 위한</p>
    <p>서비스를 제공합니다.</p>
  </div>
</section>