<section id="main-feature" class="main-feature">
  <div ngsRevealSet [ngsSelector]="'.item4'">
  <h2 class="item4">
    <small class="sub">Trinity care system</small>
    <strong>트리니티 특징</strong>
  </h2>
  <!-- 이미지 슬라이드 : 시작-->
  <swiper [config]="config" class="item4">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img [src]="slide1" alt="트리니티 특징 슬라이드 이미지">
      </div>
      <div class="swiper-slide">
        <img [src]="slide2" alt="트리니티 특징 슬라이드 이미지">
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </swiper>
  <!-- 이미지 슬라이드 : 끝-->
  </div>
  <div>
  <ul>
    <li ngsRevealSet [ngsSelector]="'.feature1'">
      <h3 class="feature1"><span class="idx">01</span>합리적인 비용! 트리니티!</h3>
      <p class="feature1">넓은 공간, 체계적인 산후조리 시스템, 철저한 신생아 건강 관리, 체계적인 테라피 관리, 트리니티는 이 모든 것을 갖추고 있습니다. 산모와 아기에게 더 가까이 다가가기 위해 합리적인 비용과 프로그램들을 가득 채웠습니다.</p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature1_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature1_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature1_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature1_4" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature1_5" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
      <!-- 이미지 슬라이드 : 끝-->
      <!-- <img [src]="feature1_1" alt="트리니티 조리원 이미지"> -->
      <!-- 청담 : 시작 -->
      <!-- <img [src]="feature1_2" alt="트리니티 조리원 이미지"> -->
      <!-- 청담 : 끝 -->
      <!-- 삼성 : 시작 -->
      <!-- <img [src]="feature1_2ss" alt="트리니티 조리원 이미지"> -->
      <!-- 삼성 : 끝 -->
      <!-- <img [src]="feature1_3" alt="트리니티 조리원 이미지"> -->
    </li>
    <li ngsRevealSet [ngsSelector]="'.feature2'">
      <h3 class="feature2"><span class="idx">02</span>소독과 감염 관리</h3>
      <p class="feature2">1일 2회 신생아실 소독 관리를 하며 아기의 베드사이에 높은 유리벽을 두어 교차감염을 차단합니다. </p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature2_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature2_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature2_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
      <!-- 이미지 슬라이드 : 끝-->
      <!-- <img [src]="feature2_1" alt="트리니티 조리원 이미지">
      <img [src]="feature2_2" alt="트리니티 조리원 이미지">
      <img [src]="feature2_3" alt="트리니티 조리원 이미지"> -->
    </li>
    <li ngsRevealSet [ngsSelector]="'.feature3'">
      <h3 class="feature3"><span class="idx">03</span>체계적인 신생아관리</h3>
      <p class="feature3">신생아실안에 숨은 공간이 전혀없으며 한 눈에 신생아실 구석구석이 다 보입니다. 모든 것을 다 보여드릴 수 있는 것은 철저한 신생아 관리에 대한 강한 자신감입니다.</p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature3_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature3_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature3_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
      <!-- 이미지 슬라이드 : 끝-->
      <!-- <img [src]="feature3_1" alt="트리니티 조리원 이미지">
      <img [src]="feature3_2" alt="트리니티 조리원 이미지">
      <img [src]="feature3_3" alt="트리니티 조리원 이미지"> -->
    </li>
    <li ngsRevealSet [ngsSelector]="'.feature4'">
      <h3 class="feature4"><span class="idx">04</span>엄마만의 특별한 경험, 모유수유는 기적입니다.</h3>
      <p class="feature4">전문적인 유방관리와 체계적인 모유수유 코칭이 있는 곳. 국제모유수유 전문가들이 산모님이 자연스럽게 완전모유수유의 길로 갈 수 있도록 변화의 타이밍마다 적극적으로 관리해 드립니다.</p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature4">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature4_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature4_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature4_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature4_4" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
      <!-- 이미지 슬라이드 : 끝-->
      <!-- <img [src]="feature4_1" alt="트리니티 조리원 이미지">
      <img [src]="feature4_2" alt="트리니티 조리원 이미지">
      <img [src]="feature4_3" alt="트리니티 조리원 이미지"> -->
    </li>
    <li ngsRevealSet [ngsSelector]="'.feature5'">
      <h3 class="feature5">
        <span class="idx">05</span>
        건강한 S라인 회복테라피 '라스파'
      </h3>
      <p class="feature5">호텔 고급 스파를 그대로! 라스파만의 바디케어는 산후 회복을 돕는 동시에 아름다운 바디라인을 만들어 드립니다. CIVASAN, 쟌피오베르 임산부 전용 스파 제품 사용하여 1:1 컨설팅을 통하여 맞춤케어를 합니다.</p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature5_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature5_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature5_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </swiper>
    </li>
    <li ngsRevealSet [ngsSelector]="'.feature6'">
      <h3 class="feature6">
        <span class="idx">06</span>
        산모 전문 푸드 테라피
      </h3>
      <p class="feature6">하얏트호텔 출신 쉐프들과 음식명인과 함께 산후회복 및 모유수유에 도움이 되는 레시피를 개발하여 최고의 산후회복식을 제공해드립니다. (덕성여대 식품영양학과 공동개발)</p>
      <!-- 이미지 슬라이드 : 시작-->
      <swiper [config]="config" class="feature-list feature6">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [src]="feature7_1" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature7_2" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature7_3" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature7_4" alt="트리니티 특징 슬라이드 이미지">
          </div>
          <div class="swiper-slide">
            <img [src]="feature7_5" alt="트리니티 특징 슬라이드 이미지">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </swiper>
    </li>
  </ul>
  </div>
</section>